<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=
    ">
    <title>Session Express</title>
</head>
<body>
    
    <form action="/register" method="POST">
        <input type="email" name="email"  placeholder="escribe tu email" autofocus>
        <input type="password" name="password" placeholder="escribe tu contraseña">
        <button>
            Enviar
        </button>
    </form>

</body>
</html>