<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
  </head>
  <body>
    <h1>desde profile</h1>

    <!-- <% if (session) { %>
    <h3>Bienvenido <%= session.email %></h3>
    <h3><%= session.password %></h3>
  
    <% }else { %>
        <h3>  Inicia Session </h3>
    <% } %> -->

        <%- includes partials.ejs %>
  </body>
</html>
